<!--head_fod-->

<div style='height:1.2rem;'></div>
<div class='index-footer'>
    <ul>
        <li class='fl'>
            <a href='{APP_PATH}'>
                <div class='iconfont icon-home_light'></div>
                <div class='index-footer-column'>首页</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=allcat'>
                <div class='iconfont icon-leibie'></div>
                <div class='index-footer-column'>分类</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=goodscart'>
                <div class='iconfont icon-cart_light'></div>
                <div class='index-footer-column'>购物车</div>
            </a>
        </li>
        <li class='fl on'>
            <a href='{APP_PATH}index.php?m=zymember&c=index&a=init'>
                <div class='iconfont icon-my_light'></div>
                <div class='index-footer-column'>个人</div>
            </a>
        </li>
        <div class='clear'></div>
    </ul>
</div>