{template "zymember","top-newHead"}
<!--zm-->
<link href="{APP_PATH}statics/zm/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/zm/css/t-style.css">
<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1119981_9fl3ao859vb.css">
<link href="{APP_PATH}statics/zm/css/picture_upload.css" rel="stylesheet" type="text/css">
<script src="{APP_PATH}statics/zm/js/auto-size.js" type="text/javascript"></script>
<!--<script src="{APP_PATH}statics/zm/js/jquery-3.2.1.min.js" type="text/javascript"></script>-->
<script src="{APP_PATH}statics/zm/layer/layer.js"></script>
<style>
    [v-cloak]{
        display: none;
    }
</style>
<body style="background: #f1f1f1;">

    <!--head_food-->
    <div class='per-head'>
        <div class='per-head-left'>
<!--             <a href='javascript:history.go(-1);'>
                <img src='images/fh-b.png' class='tb-dw'>
            </a> -->
        </div>
        <a class='per-head-hd'>我的资料</a>

        <div class='per-head-right'>
            <a href="{APP_PATH}index.php?m=zymember&c=index&a=personal_config">
                <img src="{IMG_PATH}timg.png" alt="" class='tb-dw'>
            </a>
        </div>
    </div>
    <!--head_food_end-->
    
    <!--内容-->
    <div class="per-content info" v-cloak>
        <div class="user-info" style="height: 4rem;background: #55acef">
            <div class="pl2 pr2" style="padding-top: 1rem">
                <div class="bt15"></div>
                    <div class="user-logo">
                        <a href="{APP_PATH}index.php?m=zymember&c=index&a=personal_data">
                            <img class="user-logo" :src="headimgurl" class="w-100">
                        </a>
                    </div>
                    <div class="user-text" >
                        <h3 class="lg-fs lh1 c-fff">昵称：{{ nickname }}</h3>
                        <p class="md-fs lh1 c-fff">手机号： {{ mobile }}</p>
                    </div>
                    <div class="user-xx" style="margin-top: 1rem">
                        <a href="{APP_PATH}index.php?m=zyqrcode&c=index&a=show_member">
                            <div class="iconfont icon-qrcode c-fff"></div>
                            <div class="iconfont icon-right c-fff"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                <div class="bt15"></div>
            </div>
        </div>
        <div>
            <div class="user-list">
                <div class="bt10"></div>
                <div class="div1">
                    <h3>我的团队</h3>
                    <a href="{APP_PATH}index.php?m=zyfx&c=index&a=subordinate">
                        <div class="iconfont icon-friend"></div>
                        <p>我的下级</p>
                    </a>
                </div>
                <div class="div2">
                    <h3>我的佣金</h3>
                    <ul>
                        <li>
                            <span class="c-73d13d">￥{{WTXmoney}}</span>
                            <p>佣金金额</p>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyfx&c=index&a=yj_detail">
                                <div class="iconfont icon-moneybag"></div>
                                <p>佣金明细</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyfunds&c=index&a=with_cash">
                                <div class="iconfont icon-vipcard"></div>
                                <p>提现</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear bt10"></div>
            </div>
            <div class="bt10"></div>
            <div class="user-list">
                <div class="bt10"></div>
                <div class="div3">
                    <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list"><h3>我的订单</h3></a>
                    <ul>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=1">
                                <div class="iconfont icon-pay"></div>
                                <p>待付款</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=2">
                                <div class="iconfont icon-send"></div>
                                <p>待发货</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=3">
                                <div class="iconfont icon-deliver"></div>
                                <p>待收货</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=4">
                                <div class="iconfont icon-message"></div>
                                <p>评价</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=6">
                                <div class="iconfont icon-transaction"></div>
                                <p>退款/售后</p>
                            </a>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zyorder&c=index&a=order_list&status=5">
                                <div class="iconfont icon-attention"></div>
                                <p>待审核</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="bt10"></div>
            </div>
            <div class="bt10"></div>
            <div class="user-list">
                <div class="bt10"></div>
                <div class="div4">
                    <h3>我的积分</h3>
                    <ul>
                        <li>
                            <span>{{ point }}</span>
                            <p>总积分</p>
                        </li>
                        <li>
                            <span class="c-fa541c">{{new_point}}</span>
                            <p>最近新增积分</p>
                        </li>
                        <li>
                            <span class="c-597ef7">{{used_point}}</span>
                            <p>已使用积分</p>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zypoints&c=index&a=gift_exchange">
                                <div class="iconfont icon-present"></div>
                                <p>兑换礼品</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="bt10"></div>
            </div>
            <div class="bt10"></div>
            <div class="user-list">
                <div class="bt10"></div>
                <div class="div5">
                    <h3>我的优惠券</h3>
                    <ul>
                        <li>
                            <a href="{APP_PATH}index.php?m=zycoupon&c=index&a=show_coupon&mod=1">
                                <div class="iconfont icon-ticket"></div>
                                <p>去领券</p>
                            </a>
                        </li>
                        <li>
                            <span class="c-f5222d">{{coupon_count}}个</span>
                            <p>优惠券数量</p>
                        </li>
                        <li>
                            <a href="{APP_PATH}index.php?m=zycoupon&c=index&a=show_coupon&mod=2">
                                <div class="iconfont icon-goodsnewfill"></div>
                                <p>使用优惠券</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="bt10"></div>
            </div>
            <div class="bt10"></div>
            <div class="user-list">
                <div class="bt10"></div>
                <div class="div5">
                    <h3>售后服务</h3>
                    <ul>
                        <li>
                            <a @click="create_talk()">
                                <div class="iconfont icon-sponsorfill">
                                    <template v-if="unlook!=0">
                                    <span class="layui-badge-dot" style="margin-bottom: 0.5rem"></span>
                                    </template>
                                </div>
                                <p>咨询客服</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="bt10"></div>
            </div>
        </div>

        
    </div>
    <div class="bt10"></div>
<!--head_fod-->
    {template "zymember","bottom-footer"}
    {template "zymember","footer"}
    <script>
        $(function (){
            var uid;
            aj.post('index.php?m=zymember&c=zymember_api&a=pub_memberinfo', {  'field': 'headimgurl,nickname,userid,point,new_point,used_point,mobile' }, function (data) {
                console.log(data.data);
                if (data.status == 'error') {
                    layer.msg(data.message);
                    setTimeout("javascript:location.href='" + data.forward + "'", 1000);
                } else {
                    uid=data.data.userid;
                    var info = new Vue({
                        el: '.info',
                        data: data.data,
                        methods:{
                            create_talk:function(){
                                aj.post('index.php?m=zyim&c=api&a=create_talk', {userid:uid,type:3}, function (data) {
                                    if (data.code == '-103') {
                                        layer.msg(data.message);
                                    } else {
                                        setTimeout("javascript:location.href='index.php?m=zyim&c=index&a=im_talk&mod=1'", 0);
                                    }
                                });
                            }
                        }
                    });
                };
            });
        });

            //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;
        ! function () {
            var layer = layui.layer,
                    form = layui.form,
                    $ = layui.jquery,
                    upload = layui.upload,
                    table = layui.table;

            $('.no-way').on('click', function () {
                layer.msg('该栏目正在开发中...');
            });
        }();

    </script>

</body>
</html>