{template "zyfunds",'header'}
<body>
	<div class="mui-content">
		<ul class='pay_list'>
			<li>
				<a href="index.php?m=zyfunds&c=index&a=alipay">
					<dl>
						<dt><img src="{APP_PATH}statics/funds/images/pic1.png" width='70px' /> </dt>
						<dd>支付宝</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="index.php?m=zyfunds&c=index&a=wechat">
					<dl>
						<dt><img src="{APP_PATH}statics/funds/images/pic2.png" width='70px' /> </dt>
						<dd>微信</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="index.php?m=zyfunds&c=index&a=banks">
					<dl>
						<dt><img src="{APP_PATH}statics/funds/images/pic3.png" width='70px' /> </dt>
						<dd>银行卡</dd>
					</dl>
				</a>
			</li>
		</ul>
	</div>
</body>
{template "zyfunds",'footer'}