<!doctype html>
<meta name="viewport" content="width=device-width, target-densitydpi=high-dpi" />
<html>
<head>
    <meta charset="utf-8">
    <title>我的下级</title>
    <link href="{APP_PATH}statics/zm/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/zm/css/t-style.css">
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1119981_uc1z8j3m7d.css">
    <link href="{APP_PATH}statics/zm/css/picture_upload.css" rel="stylesheet" type="text/css">
    <script src="{APP_PATH}statics/zm/js/auto-size.js" type="text/javascript"></script>
    <script src="{APP_PATH}statics/zm/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{APP_PATH}statics/zm/js/layer.js"></script>
    <script src="{APP_PATH}statics/zm/js/layer.ext.js"></script>
</head>
<body style="background: #f9f9f9;">

    <!--head_food-->
    <div class='per-head'>
        <div class='per-head-left'>
            <a href='javascript:history.go(-1);'>
                <img src='{APP_PATH}statics/zm/images/fh-b.png' class='tb-dw'>
            </a>
        </div>
        <a class='per-head-hd'>成员列表</a>
        <div class='per-head-right' style="width: auto;line-height: 1rem;color: #fff;font-size: 0.35rem;">
            <div>生成二维码</div>
        </div>
        <div class='clear'></div>
    </div>
    <!--head_food_end-->
    <div class="fx-user-list">
        <ul>
            <li>会员昵称</li>
            <li>手机号</li>
            <li>下级订单</li>
            <li>订单金额</li>
            <li>佣金计算</li>
            <div class="clear"></div>          
        </ul>
        <ul>
            <li>用户一</li>
            <li>131*****368</li>
            <li>DF45648974</li>
            <li>￥100</li>
            <li>￥20.00</li>
            <div class="clear"></div>          
        </ul>
        <ul>
            <li>用户二</li>
            <li>131*****368</li>
            <li>DF45648974</li>
            <li>￥100</li>
            <li>￥20.00</li>
            <div class="clear"></div>          
        </ul>
        <ul>
            <li>用户三</li>
            <li>131*****368</li>
            <li>DF45648974</li>
            <li>￥100</li>
            <li>￥20.00</li>
            <div class="clear"></div>          
        </ul>
    </div>

</body>
</html>