{template 'zyaddr','header'}
<link href="{CSS_PATH}mui.picker.css" rel="stylesheet" />
<link href="{CSS_PATH}mui.poppicker.css" rel="stylesheet" />
<script src="{JS_PATH}mui.picker.js"></script>
<script src="{JS_PATH}mui.poppicker.js"></script>
<script src="{JS_PATH}city.data-3.js" type="text/javascript" charset="utf-8"></script>
<form class="mui-input-group" id="form">
	<div class="mui-input-row">
		<label>收件人姓名</label>
		<input type="text" class="mui-input-clear" placeholder="请输入收件人姓名" name="name" id="name" value="{$lists['name']}">
	</div>
	<div class="mui-input-row">
		<label>手机号码</label>
		<input type="text" class="mui-input-clear" placeholder="请输入手机号码" name="phone" id="phone" value="{$lists['phone']}">
	</div>
	<div class="mui-input-row">
		<label>地址</label>
		<input type="text" class="mui-input-clear" placeholder="请选择地址" id="wz" value="{$lists['province']} {$lists['city']} {$lists['district']}">
		<input type="hidden" name='province' id="province" value="{$lists['province']}" />
		<input type="hidden" name='city' id="city" value="{$lists['city']}" />
		<input type="hidden" name='district' id="district" value="{$lists['district']}" />
	</div>
	<div class="mui-input-row">
		<label>详细地址</label>
		<input type="text" class="mui-input-clear" placeholder="请输入详细地址" name="address" id="address" value="{$lists['address']}">
	</div>
	<div class="mui-input-row">
		<label>默认</label>
		<div {if $lists['default']==1}class="mui-switch mui-active"{else}class="mui-switch"{/if} style="float:left;" id="mySwitch">
			<div class="mui-switch-handle"></div>
			<input type="hidden" name='default' id="default" value="{$lists['default']}" />
		</div>
	</div>
	<input type="hidden" name='id' value="{php echo $_GET['id']}" />
	<div class="mui-button-row">
		<button type="button" class="mui-btn mui-btn-success btn" style="width:96%;">提交</button>
	</div>
	<script>
		$('#wz').focus(function(){
            document.activeElement.blur();
			var picker = new mui.PopPicker({
				layer: 3
			});
			picker.setData(cityData3);
			picker.show(function (selectItems) {
				$('#wz').val(selectItems[0].text+" "+selectItems[1].text+" "+selectItems[2].text);
				$('#province').val(selectItems[0].text);
				$('#city').val(selectItems[1].text);
				$('#district').val(selectItems[2].text);
				console.log(selectItems);
			});
		});

		document.getElementById("mySwitch").addEventListener("toggle",function(event){
			if(event.detail.isActive){
				$('#default').val(1);
			}else{
				$('#default').val(0);
			}
		})

		$('.btn').click(function(){
			var data = $('#form').serialize();
			$.ajax({
				url: 'index.php?m=zyaddr&c=index&a=addr_edit',
				type: 'post',
				data: data,
				dataType: 'json',
				success: function(res){
					if(res.code==200){
						mui.toast(res.message);
						window.location.href = "index.php?m=zyaddr&c=index&a=init";
					}else{
						mui.toast(res.message);
					}
				}
			});
		});
	</script>
</form>
