<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{APP_PATH}statics/plugin/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="{APP_PATH}statics/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="{APP_PATH}statics/plugin/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{APP_PATH}statics/plugin/swiper-4.4.6/dist/css/swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}index-style.css">
    <link rel="stylesheet" href="{APP_PATH}statics/icon/iconfont.css">
    <script src="{APP_PATH}statics/plugin/jquery/jquery-3.3.1.min.js"></script>
    <script src="{JS_PATH}auto-size.js"></script>
    <script src="{APP_PATH}statics/plugin/layui/layui.all.js"></script>
    <script src="{APP_PATH}statics/plugin/swiper-4.4.6/dist/js/swiper.min.js"></script>
    <script src='{APP_PATH}statics/plugin/mui/dist/js/mui.min.js'></script>
</head>
<body>