{template 'zyaddr','indexHeader'}
<div class="address">
	<form class="layui-form" action="">
		{loop $lists $data}
		<div class="list">
			<div class="top">
				<div class="fl">{$data['name']}</div>
				<div class="fr" style="text-align:right;">{$data['phone']}</div>
			</div>
			<div class="addr">{$data['province']}{$data['city']}{$data['district']}{$data['address']}</div>
			<div class="bom">
				<div class="layui-form-item" pane="">
					{if $data['default']==1}
					<input type="radio" name="default" lay-skin="primary" lay-filter="default" data-id="{$data['id']}" title="默认" checked="">
					{else}
					<input type="radio" name="default" lay-skin="primary" lay-filter="default" data-id="{$data['id']}" title="默认">
					{/if}
				</div>
				<div class="action">
					<a href="index.php?m=zyaddr&c=index&a=edit&id={$data['id']}"><i class="icon-post iconfont"></i>编辑</a>
					<a href="javascript:;" onclick="del({$data['id']},this)"><i class="icon-delete iconfont"></i>删除</a>
				</div>
			</div>
		</div>
		{/loop}
		<a href="index.php?m=zyaddr&c=index&a=add" class="layui-btn layui-btn-warm layui-btn-sm address-btn">添加地址</a>
	</form>
</div>
<script>
	layui.use(['form'], function() {
		var form = layui.form
			, layer = layui.layer;

		form.on('radio(default)', function(data){
			var id = $(this).attr('data-id');
			$.ajax({
				url: 'index.php?m=zyaddr&c=index&a=changeDefault',
				type: 'post',
				data: {id:id,default:1},
				dataType: 'json',
				success: function(res){
					mui.toast(res.message);
				}
			});
		});
		form.render();
	});

		function del(id,obj){
            layer.confirm('确定删除？',{icon:3, title:"提示"}, function (index){
				$.ajax({
					url: 'index.php?m=zyaddr&c=index&a=del',
					type: 'post',
					data: {id:id},
					dataType: 'json',
					success: function(res){
						mui.toast(res.message);
						if(res.code==200){
							$(obj).parents('.list').remove();
						}
					}
				});
                layer.close(index);
            })

		}


</script>
