<!--head_fod-->
<style>
    /*-------------------------------尾部-----------------------------*/
    *, :after, :before { box-sizing: border-box; }
    .index-footer {
        border-top-style: none;
    }
    .index-footer { position: fixed; bottom: 0; width: 100%; background: #fff; height: 0.48rem; max-width: 100%; border-top: 1px solid #f6f6f6; z-index: 999999;box-sizing: border-box; }
    .index-footer ul li{
        width: 20%;
    }
    .index-footer * {
        box-sizing: border-box!important;
    }
    .index-footer .fl.on .iconfont,.index-footer .fl.on .index-footer-column{
        color: #1296db;
    }
    .index-per-head{
        background-color: #fff;
        box-shadow: 0 8px 32px rgba(105,123,140,.06);
    }
    .index-footer ul li a {
        display: block;
        height: 0.45rem;
        padding-top: 0.05rem;
    }
    .index-footer ul li .iconfont{
        text-align: center;
        color: #888;
        font-size: 0.225rem;
        line-height: 0.22rem;
    }

    .index-footer ul li .index-footer-column {
        text-align: center;
        line-height: 0.21rem;
        height: 0.15rem;
        padding: 0.001rem 0;
        font-size: .1rem;
        color: #888;
    }
</style>
<div style='height:1.2rem;'></div>
<div class='index-footer'>
    <ul>
        <li class='fl'>
            <a href='{APP_PATH}'>
                <div class='iconfont icon-home_light'></div>
                <div class='index-footer-column'>首页</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}'>
                <div class='iconfont icon-faxian'></div>
                <div class='index-footer-column'>新品</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=search'>
                <div class='iconfont icon-shoplight'></div>
                <div class='index-footer-column'>商品宝贝</div>
            </a>
        </li>
        <li class='fl on'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=goodscart'>
                <div class='iconfont icon-cart_light'></div>
                <div class='index-footer-column'>购物车</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=zymember&c=index&a=init'>
                <div class='iconfont icon-my_light'></div>
                <div class='index-footer-column'>我的</div>
            </a>
        </li>
        <div class='clear'></div>
    </ul>
</div>