{php $SEO['site_title'] = '商品宝贝'}
{template "hpshop","top-head"}

< body class="bg-f4f4f4" >
	<div style="width: 100vw; overflow: hidden;">
		<div id="allcat">
			<div class="personal-head" style="height: 0.6rem;">
				<div class="index-search">
					<div @click="open" class="search-box" style="color: #8a8a8a;"><template v-if="search != ''">{{ search }}</template><template v-else>搜索商品</template></div>
				</div>
			</div>
			<div class="layui-container search-fl" style="height:100vh; display: none" >
				<div class="layui-row">
					<!-- 搜索页-隐藏 -->
					<div class="fl-search">
						<div class="personal-head" style="height: 0.6rem;">
							<div class="index-search2">
								<input type="text" placeholder="商品搜索" v-model="search">
								<button @click="submit_search">搜索</button>
							</div>
						</div>
						<div class="fl-tj" style="position: relative;">
							<div class="h1 clear"></div>
							<template  v-model="history" v-for="x,y in history.hiscon">
								<span style="background-color: #e8e8e8;border-radius: 20px;padding: 0 10px;margin: 0 5px 5px 0" @click="showHistory(x)">{{ x }}</span>
								<!--<p @click="showHistory(x)" class="lg-fs c-afafaf">{{ x }}</p>-->
							</template>
							<div  class="lg-fs c-afafaf" @click="clearHistory" style="text-align: center">清除搜索记录</div>
							<div class="lg-fs c-afafaf" style="position: absolute;bottom: 0.5rem;width: 95%;text-align: center;z-index: 200" @click="close">关闭搜索</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h3"></div>
		<div class="h3"></div>
		<div class="display-list">
			<div class="screen">
				<ul>
					<!-- more 灰色箭头 Positive 下箭头  Aspect 上箭头 on 字体及下划线 manner 排版样式-->
					<li class="fl on"><a href="#"><span>全部</span></a></li>
					<li class="fl "><a href="#"><span>综合</span></a></li>
					<li class="fl "><a href="#"><span>销量</span></a></li>
					<li class="fl "><a href="#"><span>新品</span></a></li>
					<li class="fl "><a href="#"><span>价格↑↓</span></a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<ul class="index-wares-ul" id="sergoods">
				<li class="index-wares-li fl" v-for="(sergoods,index) in data">
					<a :href="'index.php?m=hpshop&c=index&a=goodsinfo&id='+ sergoods.id +''" >
						<div class="wares-img">
							<img :src="sergoods.thumb">
						</div>
						<div class="wares-word">
							<p class="wares-keyword">{{ sergoods.goods_name }}</p>
							<div class="Price"><i>￥</i><span class="Front Price">{{ sergoods.shop_price }}</span><span class="prime">{{ sergoods.market_price }}</span></div>
						</div>
					</a>
					<!--弹出购物车 <div class="add-card"><i class="icon iconfont icon-cart"><span>1</span></i></div>-->
				</li>
				<div class="clear"></div>
			</ul>
		</div>
    </div>

    {template "hpshop","bottom-footer"}
    {template "hpshop","footer"}



    <script>
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;
        ! function () {

            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                upload = layui.upload,
                table = layui.table;

				var sercon = '{$_GET[sercon]}';

				var allcat =  new Vue({
					el: '#allcat',
					data:{
						search: sercon,
						history:'',
					},
					methods:{
						//打开搜索

						open:function(){
                            var that = this;
							$(".layui-container.search-fl").show();
							$('.fl-tj').height($(window).height()-$('.search-fl .personal-head').height())
							layer.open({
							  type: 1,
							  area: ['100%', 'auto'],
							  offset: 't',
							  closeBtn: 0,
							  anim: 2,
							  title: false, //不显示标题
							  shadeClose: true,
							  isOutAnim: false,
							  scrollbar: false,
							  content: $('.fl-search'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
							});
							aj.post('index.php?m=hpshop&c=goods_api&a=goods_sh',{}, function(data){
                                that.history = data.data;
							})

						},
						//关闭搜索
						close:function(){
							$(".layui-container.search-fl").hide();
							layer.closeAll()
						},
						submit_search:function(){
							if(this.search){
								aj.post('index.php?m=hpshop&c=goods_api&a=sergoods',{sercon:this.search},function(data){
									console.log(data);
								});

							}else{
								layer.msg('搜索内容不能为空');
							}
							//console.log(this.search);
							window.location.href="index.php?m=hpshop&c=index&a=search&sercon="+this.search;
						},
                        showHistory:function(data){
							this.search = data;
						},
                        clearHistory:function(){
                            this.history = '';
                            aj.post('index.php?m=hpshop&c=goods_api&a=clearHistory',{},function(data){
                                console.log(data);
                            });
						}
					}
				});


			aj.post('index.php?m=hpshop&c=goods_api&a=sergoods',{'sercon':sercon},function(data){
					var sergoods =  new Vue({
				    		el: '#sergoods',
							data:data
					});
					console.log(data.data);
				});
        }();
    </script>
</body>

</html>