{php $SEO['site_title'] = '确认订单'}
{template "hpshop","top-head"}
<link rel="stylesheet" href="{CSS_PATH}index-style.css">
<link rel="stylesheet" href="{APP_PATH}statics/icon/iconfont.css">
<style>
    .per-head {
        height: 0.4rem;
        width: 100%;
        background: #c4a966;
        text-align: center;
    }
    .per-head {
        background: #55acef;
    }
    .per-head-left {
        height: 0.4rem;
        width: 0.4rem;
        float: left;
        line-height: 0.4rem;
    }
    .per-head .tb-dw {
        width: .2rem;
    }
    .per-head-hd {
        font-size: .15rem;
        line-height: 0.4rem;
        color: #fff;
    }
    .per-head-right {
        height: 0.4rem;
        width: 0.4rem;
        float: right;
    }
    .goods-pjw{
        display: none;
    }
</style>
<body class="bg-f4f4f4">
    <div class="personal-head">
        <a onclick="set_none()">
            <div class="fl head-icon">
                <i class="layui-icon layui-icon-left"></i>
            </div>
        </a>
        <div class="fl head-icon">
        </div>
        <div class="title">
            <span>确认订单</span>
        </div>
        <div class="fr head-icon">

        </div>
        <div class="fr head-icon">

        </div>
    </div>
    <div style="height: 0.5rem;width: 100%;"></div>

    <!--地址-->
    <script id="form1" type="text/html">
    <form class="layui-form" >
        <div class="choose-address" onclick="clickAddr()">
		{{# if(d.data.address){ }}
            <div class="address">
                <div class="Consignee">
                    <div class="fl">收货人：<span>{{ d.data.address.name }}</span></div>
                    <div class="fr"><span class="mobile">{{ d.data.address.phone }}</span></div>
                    <div class="clear"></div>
                </div>
                <div class="Consignee">
                    <div class="address-content"><span>收货地址：</span>{{ d.data.address.province }} {{ d.data.address.district }} {{ d.data.address.city }} {{ d.data.address.address}}</div>
                </div>
                <div class="clear"></div>
            </div>
		{{# }else{ }}
            <div class="address">
                <div class="Consignee">
                    <div class="address-content"><span>请设置收货地址</span></div>
                </div>
                <div class="clear"></div>
            </div>
		{{# } }}
        </div>
        <!--商品列表-->
		{{# $.each(d.data.shops,function(index,val){ }}
		<div class="h1"></div>
        <div class="order-div-h bg-fff">
            <!--<div class="order-div-h-logo">
                <img src="images/60pt@2x.jpg" />
            </div>-->
            <!--<span class="order-div-span pl05">{{ val.shopname }}</span>-->
            <span class="order-div-span pl05">福建筑梦</span>
        </div>
        <ul class="ware-list">
		
			{{# $.each(val.cartinfo,function(index,info){ }}
            <li>
                <div class="fl">
                    <div class="img">
                        <img src="{{ info.goodsimg }}" />
                    </div>
                </div>
                <div class="fr">
                    <div class="tit">{{ info.goodsname }}</div>
                    <div class="spec"><span>{{# if(info.goodsspecs){ }}{{ info.goodsspecs }}{{# } }}</span></div>
                    <div class="other"><i>￥</i>&nbsp;<span class="price">{{ info.goodsprice}}</span><span>×{{ info.cartnum }}</span></div>
                </div>
                <div class="clear"></div>
            </li>
			{{# }) }}
        </ul>
		{{# }) }}

		
        <!--合计-->
        <div class="order-div-h bg-fff">
            <p class="order-div-total">
                <span>共<span class="c-ff0000">{{ d.data.totalnum }}</span>件商品</span>&nbsp;&nbsp;&nbsp;<span>合计：￥<span class="c-ff0000">{{ d.data.totalprice }}</span><!--(含运费￥2.50)--></span>
            </p>
        </div>

        <!--商品其他-->
        <div class="ware-other">
			<div class="freight coupon">

				<div class="fl tit">优惠券</div>
				<a href=""><div class="fr con" id="coupon"><i class="layui-icon layui-icon-right"></i></div></a>
				<div class="clear"></div>

			</div>
            <div class="freight">
                <div class="fl tit">运费</div>
                <div class="fr con">￥<span>0.00</span></div>
                <div class="clear"></div>
            </div>
            <div class="leave-word">
                <div class="fl tit">卖家留言：</div>
                <div class="fr input">
                    <input style="border: 0;" name="usernote" >
                </div>
                <div class="clear"></div>
            </div>
            <div class="Total">
                <span class="tit">小计：</span>
                <span class="piece"><i>￥</i>&nbsp;{{ d.data.totalprice }}</span>
            </div>
        </div>


        <div class="Pay-footer-fixd">
            <div class="fl">合计：<span>￥&nbsp;{{ d.data.finalprice }}</span>
				{{#  if(d.data.finalprice != d.data.totalprice){ }}
				<span style="color: grey;font-size: small;text-decoration:line-through">￥&nbsp;{{ d.data.totalprice }}</span>
				{{#  } }}
			</div>
            <div class="fr"><botton lay-submit lay-filter="submit">提交订单</botton></div>
        </div>
    </form>
	</script>

    <div id="view"></div>
    {template "zymember","footer"}

 	<style>
	.Pay-footer-fixd .fr botton {
    padding: 0.05rem 0.4rem;
    border-radius: 0.03rem;
    line-height: 0.3rem;
    height: 0.3rem;
    margin-top: 0.05rem;
    color: #fff;
    font-size: 0.15rem;
    background: #ff4400;
    border: none;
}
	</style>
    <script>
        var layer = layui.layer,
            form = layui.form,
            $ = layui.jquery,
            upload = layui.upload,
            laytpl  = layui.laytpl ,
            table = layui.table;
        var s = history.length;
        console.log(document.referrer);
        console.log(s);
        var met = '{$_GET[met]}';
        var carts = '{$_GET[carts]}';
        var address;
        var addressid = '{$_GET[address]}';
        var cu_id=0;
	 $(function(){
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：




			//表单
			if(met == 1){
				aj_data(met,'', addressid);
			}else{
				if(carts){
					aj_data('',carts, addressid)
				}else{
					layer.msg('操作失败，无结算订单');
				}
			}
			//监听提交
			form.on('submit(submit)', function(data){
				data.field.met = met;
				data.field._coupon_user_id = cu_id;
				if(carts){
					data.field.cids = carts;					
				}else{
					if(met){
						layer.msg('订单信息错误');
					}
				}
				if(address){
					data.field.address = address.id;
				}else{
					layer.msg('请选择收货地址');
				}
				if( (data.field.address && carts ) || (data.field.address && met )){
					aj.post('index.php?m=hpshop&c=goods_api&a=sureMakeOrder',data.field,function(datacc){
						console.log(datacc.data);
						if(datacc.status == 'success'){
							var orderid = [];
							var sn = [];
							$.each(datacc.data,function(index,val){
								console.log(index,val);
								orderid.push(val.oid);
								sn.push(val.order_sn);
							})
							//console.log(orderid,sn);
							if(sn.length == orderid.length && sn.length > 0 && orderid.length > 0 ){
								orderid = orderid.join(',');
								sn = sn.join(',');
								//console.log(orderid,sn);
								//layer.msg('下单成功，选择支付方式');
								//console.log('{APP_PATH}index.php?m=zyorder&c=index&a=shop_pay&orderid='+orderid+'&sn='+sn);
								setTimeout(function(){javascript:location.href='{APP_PATH}index.php?m=zyorder&c=index&a=shop_pay&orderid='+orderid+'&sn='+sn}, 10);
							}
						}else{
							layer.msg(datacc.message);
						}
					})
					/*layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})*/
				}
				return false;
			});
			

			
//			$('#view').on('click','.choose-address',function(){
//				//console.log('选择地址');
//				javascript:location.href='{APP_PATH}index.php?m=zyaddr&c=index&a=shop_payAddr&met='+met+'&carts='+carts;
//
//			});



	});
        function  aj_data(m,c, addressid){
            //console.log({met:m,cids:c});
            aj.post('index.php?m=hpshop&c=goods_api&a=settlement',{met:m,cids:c,uid:1},function(data){
                if(data.status == 'success'){
                    var data1 = { //数据
                        data : data.data
                    }
                    //console.log(data.data.uid);
                    if(addressid){
                        //console.log(addressid);
                        //获取选择地址
                        $.ajax({
                            url:'index.php?m=zyaddr&c=zyaddr_api&a=getaddr',
                            type:'POST', //GET
                            async:false,    //或true,是否同步
                            data:{
                                id:addressid
                            },
                            timeout:5000,    //超时时间
                            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                            success:function(data){
                                //console.log(data);
                                if(data.status == 'success'){
                                    address = data.data;

                                    data1.data.address = address;
                                    //console.log(data1);
                                    var getTpl = form1.innerHTML
                                        ,view = document.getElementById('view');
                                    laytpl(getTpl).render(data1, function(html){
                                        view.innerHTML = html;
                                        form.render(); //更新全部
                                    });



                                }else{
                                    layer.msg('该地址不存在，请重新选择');
                                }
                            }
                        });
                    }else{
                        //获取默认地址
                        $.ajax({
                            url:'index.php?m=zyaddr&c=zyaddr_api&a=getdefault',
                            type:'POST', //GET
                            async:false,    //或true,是否同步
                            data:{
                                userid:data.data.uid
                            },
                            timeout:5000,    //超时时间
                            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                            success:function(data){
                                if(data.status == 'success'){
                                    address = data.data;

                                    data1.data.address = address;
                                    //console.log(data1);
                                    var getTpl = form1.innerHTML
                                        ,view = document.getElementById('view');
                                    laytpl(getTpl).render(data1, function(html){
                                        view.innerHTML = html;
                                        form.render(); //更新全部
                                    });
                                }else{
                                    layer.msg('默认地址获取失败');
                                }
                            }
                        });
                    }

                    if(met){
                        //获取选择可用优惠券数量
                        var catid=new Array();
                        var total=new Array();
                        var userid=data.data.uid
                        console.log(data.data.shops[0].cartinfo);
                        for(var i in data.data.shops[0].cartinfo){
                            catid[i] =data.data.shops[0].cartinfo[i].catid;
                            total[i] =data.data.shops[0].cartinfo[i].goodsprice*data.data.shops[0].cartinfo[i].cartnum;
                        }
                        console.log(catid+'---'+total);

                        $.ajax({
                            url:'index.php?m=zycoupon&c=api&a=order_coupon_count',
                            type:'POST', //GET
                            async:true,    //或true,是否同步
                            data:{
                                _userid:userid,
                                _catid:catid,
                                _total:total,
                            },
                            timeout:5000,    //超时时间
                            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                            success:function(data){
                                console.log(data.data[0]);
                                if(data.status == 'success'){
                                    if(data.code == 200) {
                                        coupon_num = data.data[0].num;
                                        $("#coupon").prepend('<span style="color: red;font-size: small">' + coupon_num + '个可用优惠券</span>');
                                        $("#coupon").parent().attr('href', '{APP_PATH}index.php?m=zycoupon&c=index&a=select_coupon&_catid=' + catid + '&_total=' + total);
                                    }else {
                                        cut_num=data.data[0].minus;
                                        cu_id=data.data[0].id;
                                        $("#coupon").prepend('<span style="color: red;font-size: small">-￥' + cut_num + '</span>');
                                        $("#coupon").parent().attr('href', '{APP_PATH}index.php?m=zycoupon&c=index&a=select_coupon&_catid=' + catid + '&_total=' + total+ '&id=' + cu_id);
                                    }
                                }else{
                                    if(data.code==-200){
                                        $("#coupon").prepend('<span style="color: grey;font-size: small">'+data.message+'</span>');
                                    }else{
                                        layer.msg(data.message);
                                    }
                                }
                            }
                        });
                    }
                }else{
                    layer.msg(data.message);
                    if(data.code == 0){
                        setTimeout("javascript:location.href='{APP_PATH}index.php?m=zymember&c=index&a=login'", 1000);
                    }
                }
            })
        }
	function changeAddr(addressid)
    {
        var met = '{$_GET[met]}';
        var carts = '{$_GET[carts]}';
        //表单
        if(met == 1){
            aj_data(met,'', addressid);
        }else{
            if(carts){
                aj_data('',carts, addressid)
            }else{
                layer.msg('操作失败，无结算订单');
            }
        }
    }
	//取消优惠券选择
	function set_none() { // 声明一个函数
		$.ajax({
			url:'index.php?m=zycoupon&c=api&a=api_coupon_select',
			type:'POST', //GET
			async:false,    //或true,是否同步
			data:{
				_coupon_user_id:0
			},
			timeout:5000,    //超时时间
			dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
			success:function(data){
				if(data.status == 'success'){
				    var d = s-history.length - 1 ;
                    console.log(d);
                    if(d < -1)
                        window.history.go(d);
                    else
                        window.history.back(-1);
				}else{
					if(data.code==-1){
						layer.msg(data.message);
						setTimeout("javascript:location.href='{APP_PATH}index.php?m=zymember&c=index&a=login'", 1000);
					}else {
						layer.msg(data.message);
					}
				}
			}
		});
	}
	function clickAddr()
    {
        layer.open({
            type: 2,
            content: 'index.php?m=zyaddr&c=index&a=shop_payAddr',
            area: ['100%', '100%'],
            offset: 't',
            anim: 2,
            title: "收获地址", //不显示标题
            shadeClose: true,
            isOutAnim: false,
            scrollbar: false,

        });
    }

    </script>   
</body>
</html>
