{php $SEO['site_title'] = '确认订单'}
{template "hpshop","top-head"}

<body class="bg-f4f4f4">
    <div class="personal-head">
        <a onClick="javascript :history.back(-1);">
            <div class="fl head-icon">
                <i class="layui-icon layui-icon-left"></i>
            </div>
        </a>
        <div class="fl head-icon">
        </div>
        <div class="title">
            <span>确认订单</span>
        </div>
        <div class="fr head-icon">

        </div>
        <div class="fr head-icon">

        </div>
    </div>
    <div style="height: 0.5rem;width: 100%;"></div>

    <!--地址-->
    <script id="form1" type="text/html">
    <form class="layui-form" >
        <div class="choose-address">
		{{# if(d.data.address){ }}
            <div class="address">
                <div class="Consignee">
                    <div class="fl">收货人：<span>{{ d.data.address.name }}</span></div>
                    <div class="fr"><span class="mobile">{{ d.data.address.phone }}</span></div>
                    <div class="clear"></div>
                </div>
                <div class="Consignee">
                    <div class="address-content"><span>收货地址：</span>{{ d.data.address.province }} {{ d.data.address.district }} {{ d.data.address.city }} {{ d.data.address.address}}</div>
                </div>
                <div class="clear"></div>
            </div>
		{{# }else{ }}
            <div class="address">
                <div class="Consignee">
                    <div class="address-content"><span>请设置收货地址</span></div>
                </div>
                <div class="clear"></div>
            </div>
		{{# } }}
        </div>
        <!--商品列表-->
		{{# $.each(d.data.shops,function(index,val){ }}
		<div class="h1"></div>
        <div class="order-div-h bg-fff">
            <!--<div class="order-div-h-logo">
                <img src="images/60pt@2x.jpg" />
            </div>-->
            <!--<span class="order-div-span pl05">{{ val.shopname }}</span>-->
            <span class="order-div-span pl05">福建筑梦</span>
        </div>
        <ul class="ware-list">
		
			{{# $.each(val.cartinfo,function(index,info){ }}
            <li>
                <div class="fl">
                    <div class="img">
                        <img src="{{ info.goodsimg }}" />
                    </div>
                </div>
                <div class="fr">
                    <div class="tit">{{ info.goodsname }}</div>
                    <div class="spec"><span>{{# if(info.goodsspecs){ }}{{ info.goodsspecs }}{{# } }}</span></div>
                    <div class="other"><i>￥</i>&nbsp;<span class="price">{{ info.goodsprice}}</span><span>×{{ info.cartnum }}</span></div>
                </div>
                <div class="clear"></div>
            </li>
			{{# }) }}
        </ul>
		{{# }) }}

		
        <!--合计-->
        <div class="order-div-h bg-fff">
            <p class="order-div-total">
                <span>共<span class="c-ff0000">{{ d.data.totalnum }}</span>件商品</span>&nbsp;&nbsp;&nbsp;<span>合计：￥<span class="c-ff0000">{{ d.data.totalprice }}</span><!--(含运费￥2.50)--></span>
            </p>
        </div>

        <!--商品其他-->
        <div class="ware-other">
            <div class="freight">
                <div class="fl tit">运费</div>
                <div class="fr con">￥<span>0.00</span></div>
                <div class="clear"></div>
            </div>
            <div class="leave-word">
                <div class="fl tit">卖家留言：</div>
                <div class="fr input">
                    <input style="border: 0;" name="usernote" >
                </div>
                <div class="clear"></div>
            </div>
            <div class="Total">
                <span class="tit">小计：</span>
                <span class="piece"><i>￥</i>&nbsp;{{ d.data.totalprice }}</span>
            </div>
        </div>


        <div class="Pay-footer-fixd">
            <div class="fl">合计：<span>￥&nbsp;{{ d.data.totalprice }}</span></div>
            <div class="fr"><botton lay-submit lay-filter="submit">试穿申请</botton></div>
        </div>
    </form>
	</script>
    <div id="view"></div>
    {template "zymember","footer"}

 	<style>
	.Pay-footer-fixd .fr botton {
    padding: 0.05rem 0.4rem;
    border-radius: 0.03rem;
    line-height: 0.3rem;
    height: 0.3rem;
    margin-top: 0.05rem;
    color: #fff;
    font-size: 0.15rem;
    background: #ff4400;
    border: none;
}
	</style>
    <script>
	$(function(){
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;
        ! function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                upload = layui.upload,
                laytpl  = layui.laytpl ,
                table = layui.table;      

			var met = '{$_GET[met]}';				
			var carts = '{$_GET[carts]}';
			var address;
			var addressid = '{$_GET[address]}';
			//表单
			if(met == 1){
				aj_data(met,'');
			}else{
				if(carts){
					aj_data('',carts)
				}else{
					layer.msg('操作失败，无结算订单');
				}
			}
			//监听提交
			form.on('submit(submit)', function(data){
				data.field.met = met;
				console.log(met);
				console.log(carts);
				if(carts){
					data.field.cids = carts;					
				}else{
					if(met){
						layer.msg('订单信息错误');
					}
				}
				if(address){
					data.field.address = address.id;
				}else{
					layer.msg('请选择收货地址');
				}
				if( (data.field.address && carts ) || (data.field.address && met )){
					aj.post('index.php?m=hpshop&c=goods_api&a=tryMakeOrder',data.field,function(datacc){
						console.log(datacc.data);
						if(datacc.status == 'success'){
							var orderid = [];
							var sn = [];
							$.each(datacc.data,function(index,val){
								console.log(index,val);
								orderid.push(val.oid);
								sn.push(val.order_sn);
							})
							//console.log(orderid,sn);
							if(sn.length == orderid.length && sn.length > 0 && orderid.length > 0 ){
								orderid = orderid.join(',');
								sn = sn.join(',');
								//console.log(orderid,sn);
								layer.msg('申请成功，请耐心等待审核！');
								//console.log('{APP_PATH}index.php?m=zyorder&c=index&a=shop_pay&orderid='+orderid+'&sn='+sn);
								setTimeout("javascript:location.href='{APP_PATH}index.php?m=hpshop&c=index&a=search'", 1000);
							}
						}else{
							layer.msg(data.message);
						}
					})
					/*layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})*/
				}
				return false;
			});
			
			function  aj_data(m,c){
				//console.log({met:m,cids:c});
				aj.post('index.php?m=hpshop&c=goods_api&a=settlement',{met:m,cids:c,uid:1},function(data){
					if(data.status == 'success'){
						var data1 = { //数据
						   data : data.data
						}
						//console.log(data.data.uid);
						if(addressid){
							//console.log(addressid);
							//获取选择地址
							$.ajax({
							url:'index.php?m=zyaddr&c=zyaddr_api&a=getaddr',
							type:'POST', //GET
							async:false,    //或true,是否同步
							data:{
								id:addressid
							},
							timeout:5000,    //超时时间
							dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
							success:function(data){
								//console.log(data);
								if(data.status == 'success'){
									address = data.data;
									
									data1.data.address = address;
									//console.log(data1);
									var getTpl = form1.innerHTML
									,view = document.getElementById('view');
									laytpl(getTpl).render(data1, function(html){
										view.innerHTML = html;
										form.render(); //更新全部
									});
									
									
									
								}else{
									layer.msg('该地址不存在，请重新选择');
								}
							}
							});
						}else{
							//获取默认地址
							$.ajax({
							url:'index.php?m=zyaddr&c=zyaddr_api&a=getdefault',
							type:'POST', //GET
							async:false,    //或true,是否同步
							data:{
								userid:data.data.uid
							},
							timeout:5000,    //超时时间
							dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
							success:function(data){
								if(data.status == 'success'){
									address = data.data;

									data1.data.address = address;
									//console.log(data1);
									var getTpl = form1.innerHTML
									,view = document.getElementById('view');
									laytpl(getTpl).render(data1, function(html){
										view.innerHTML = html;
										form.render(); //更新全部
									});
								}else{
									layer.msg('默认地址获取失败');
								}
							}
						});
					}
					
					}else{
						layer.msg(data.message);
						if(data.code == 0){
							setTimeout("javascript:location.href='{APP_PATH}index.php?m=zymember&c=index&a=login'", 1000);
						}
					}
				})
				
			}
			
			$('#view').on('click','.choose-address',function(){
				//console.log('选择地址');
				javascript:location.href='{APP_PATH}index.php?m=zyaddr&c=index&a=init&met='+met+'&carts='+carts;
				
			})
			
		}();
	})
    </script>   
</body>
</html>
